<div class="public_header" id="header">
    <div class="public_header_leftMenu">
        <img class="public_header_leftImg" src="image/header/headerbar-back.png" alt="返回" ui-sref="index">
    </div>
    <!-- 这里可以自己添加一个指令来动态控制 -->
    <span class="Notice-title">公告</span>
</div>
<div class="Notice-content Noticewrap">
    <div class="Notice-One">
        <img src="image/game-action.png" alt="通知">
        <h3>这是个广告。。嗯。。。!</h3>
        <span>宇宙破灭。。</span>
        <p>不知道写啥了。。</p>
    </div>
    <div class="Notice-One">
        <img src="image/game-action.png" alt="通知">
        <h3>网页套个壳。。!</h3>
        <span>是时候学习一波Hybrid App了。。</span>
        <p></p>
    </div>
</div>
<!--<script src="js/setWidth.js"></script>-->