
<div class="about-wrap">
    <div class="public_header" id="header">
        <div class="public_header_leftMenu">
            <img class="public_header_leftImg" src="image/header/headerbar-back.png" alt="返回"  ui-sref="index">
        </div>
        <!-- 这里可以自己添加一个指令来动态控制 -->

        <span class="AboutUs-title">关于</span>
    </div>
    <div class="AboutUs-content ">
        <div class="AboutUs-introduce ">
            <h3>桌游精灵</h3>
            <p>线下桌游聚会的身份发放工具.支持杀人游戏,狼人杀,捉鬼(谁是卧底)等多款游戏的多个版本！</p>
        </div>
        <div class="AboutUs-forum">
            <!--<p>桌游论坛<span>&gt</span></p>-->
            <!--<p>在线桌游<span>&gt</span></p>-->
            <p class="AboutUs-QQ">QQ<span>603877038</span></p>
        </div>
    </div>
</div>
<!--<script src="js/setWidth.js"></script>-->